RewriteEngine on

# osnova
RewriteRule ^login$	                       "index.php?page=login"
RewriteRule ^register$	                   "index.php?page=register"
RewriteRule ^dodaj$	                       "index.php?page=dodaj"
RewriteRule ^servers/games$	               "index.php?page=games"
RewriteRule ^servers/games$	               "index.php?page=games"
RewriteRule ^servers/(.*)$				   "index.php?page=servers&g_name=$1"
RewriteRule ^server_info/(.*)$			   "index.php?page=server_info&ip=$1"
RewriteRule ^chart/(.*)$				   "server_chart.php?ip=$1"
RewriteRule ^chart_rank/(.*)$				"server_rank_chart.php?ip=$1"
RewriteRule ^chart_week/(.*)$				"server_chart_week.php?ip=$1"
RewriteRule ^chart_month/(.*)$				"server_chart_month.php?ip=$1"
RewriteRule ^process/ownership/(.*)$	    "/process.php?task=ownership&ip=$1"
RewriteRule ^process/s_delete/(.*)/(.*)$	"/process.php?task=s_delete&ip=$1&id=$2"
RewriteRule ^banner_normal/(.*)/(.*)$		"banner.php?&ip=$1&color=$2"
RewriteRule ^server_banners/(.*)/(.*)$	            "index.php?page=server_info&ip=$1&p=banners&color=$2"
RewriteRule ^banner_small/(.*)/(.*)$		"banner_small.php?&ip=$1&color=$2"
RewriteRule ^banner_medium/(.*)/(.*)$		"banner_medium.php?&ip=$1&color=$2"
RewriteRule ^community_info/(.*)$			   "index.php?page=community_info&id=$1"
RewriteRule ^community_chart/(.*)$				   "community_chart.php?id=$1"
RewriteRule ^communities$	                       "index.php?page=communities"
RewriteRule ^memberlist$	                       "index.php?page=memberlist"
RewriteRule ^member/(.*)$			               "index.php?page=member&username=$1"
RewriteRule ^process/feed_delete/(.*)/(.*)$	       "/process.php?task=feed_delete&username=$1&id=$2"
RewriteRule ^guestbook/(.*)$			       "index.php?page=guestbook&username=$1"
RewriteRule ^panel$	                   "index.php?page=panel"
RewriteRule ^panel/zahtevi$	                   "index.php?page=panel&p=zahtevi"
RewriteRule ^panel/poruke$	                   "index.php?page=panel&p=poruke"
RewriteRule ^panel/obavestenja$	                   "index.php?page=panel&p=obavestenja"
RewriteRule ^friend/add/(.*)$	       "/process.php?task=add_friend&userid=$1"
RewriteRule ^friend/accept/(.*)$	       "/process.php?task=f_accept&id=$1"
RewriteRule ^friend/decline/(.*)$	       "/process.php?task=f_decline&id=$1"
RewriteRule ^read/message/(.*)$	            "/process.php?task=read-m&id=$1"
RewriteRule ^panel/poruke/(.*)$	                   "index.php?page=panel&p=poruke&id=$1"
RewriteRule ^read/notification/(.*)$	            "/process.php?task=read-n&id=$1"
RewriteRule ^boost$	                       "index.php?page=boost"

#ostalo
RewriteRule ^img/$                                   "/index.php"
RewriteRule ^images/$                                   "/index.php"
RewriteRule ^js/$                                      "/index.php"
RewriteRule ^ime/$                                      "/index.php"
RewriteRule ^languages/$                                      "/index.php"
RewriteRule ^crons/$                                      "/index.php"
RewriteRule ^banners/$                                      "/index.php"

deny from all
allow from all